<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.tiweb.app" version="0.1.0">
  <name>CordovaTest</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="Kalugin@internetlab.ru">
    Kalugin
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
